.error-input {
	border-color: #f00;
	margin-left: 5px;
}

.error-message {
	color: #f00;
}

.customer-table,
.customer-table th,
.customer-table td {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.customer-table th {
	background: #ddd;
}
